body{
    background-color : #ECF2FF;
}

hr{
    border-style: none;
    border-top: dotted;
    border-color: rgba(183, 180, 180, 0.579);
    border-width: 5px;
    width: 2.5%;
    color: rgba(219, 214, 214, 0.681);
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}